<mat-toolbar>
  <button mat-icon-button (click)="toggleDrawer()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>{{ contentHeader$ | async }}</h1>
</mat-toolbar>

<div
  class="container-content"
  *ngIf="currentTheme$ | async as theme; else logo"
>
  <div class="content">
    <div class="content__wrapper" *ngFor="let subTheme of theme.subThemes">
      <h2 class="content__header">{{ subTheme.description }}</h2>
      <div class="content__code" [innerHTML]="subTheme.content"></div>
    </div>
  </div>
</div>

<ng-template #logo>
  <div class="container-image">
    <img src="./../../../assets/logo.png" />
  </div>
</ng-template>
