:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

img {
  max-width: 90%;
}

.container-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.container-content {
  padding: 0 5%;
  background: hsl(0, 0%, 98%);
  flex: 1;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: #fff;
  padding: 2%;

  &__header {
    margin: 0;
  }

  &__code {
    overflow: scroll;
    margin-top: 1rem;
    border: 0.1px solid #7ba6de;
    border-radius: 1rem;
    padding: 1rem;
  }
}

mat-toolbar {
  background: #7ba6de;
  color: #fff;
  height: 50px;
  min-height: 50px;
}
