<button
  *ngIf="drawer$ | async as drawer"
  class="menu-btn"
  (click)="drawer.toggle()"
  mat-fab
  extended
>
  <mat-icon>menu</mat-icon>

  <ng-container *ngIf="currentTheme$ | async as currentTheme; else menu">
    {{ currentTheme.name }}
  </ng-container>

  <ng-template #menu> Menu </ng-template>
</button>

<ng-container *ngIf="currentTheme$ | async as currentTheme; else logo">
  <ng-container *ngFor="let subTheme of currentTheme.subThemes">
    <div>{{ subTheme.description }}</div>
    <div [innerHTML]="subTheme.content"></div>
  </ng-container>
</ng-container>

<ng-template #logo>
  <div class="image-container">
    <img src="./../../../assets/logo.png" />
  </div>
</ng-template>
