:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

img {
  max-width: 90%;
}

.container-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}

.container-content {
  height: inherit;
  padding: 0 5rem;
  background: hsl(0, 0%, 98%);

  &__content {
    height: inherit;
    background: #fff;
    padding: 2rem;
  }
}

mat-toolbar {
  background: #7ba6de;
  color: #fff;
}
