<mat-accordion *ngIf="contentGeneral as content">
  <mat-expansion-panel *ngFor="let technology of content | keyvalue">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ technology.key }} </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="theme-button">
      <button
        mat-raised-button
        *ngFor="let theme of $any(technology.value)"
        (click)="clickButton(theme)"
      >
        {{ theme }}
      </button>
    </div>
  </mat-expansion-panel>
</mat-accordion>
